@import url('https://fonts.googleapis.com/css2?family=Josefin Sans:wght@300&display=swap');

$poppins: 'Josefin Sans', Arial, Helvetica, sans-serif;

* {
  box-sizing: border-box;
  font-family: $poppins;
  
}

#main .section {
  padding: 1.5rem;
  background-color: white;
  
}

.rounded-corners {
  border-radius: 4px 4px 0 0;
}

.label-box {
  width: 80px;
}
.section.read-container, .section.form-section {
  width: 600px;
}

#main .hero.is-primary.is-bold {
  background-image: linear-gradient(141deg, black 0%,rgb(80, 80, 80) 100%);
  width: 100vw;
}

div .tab-background {
  background-color: rgb(70,70,70);
  border: black solid 2px;
  border-bottom: none;
}

#main .hero.is-primary .tabs.is-boxed li.is-active a {
  color: black;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247,245,245);
  min-height: 100vh;
}

main {
  height: 100%;
}

h1.title {
  font-size: 2.5rem;
}
h2.sub-heading {
  font-size: 2rem;
}
h3.sub-heading {
  font-size: 1.5rem
}

figure.logo {
  margin: auto;
  width: 70%;
}



@media (pointer:coarse) {
  li div a {
    font-size: 1.5rem;
  }
  p, span, a {
    font-size: 2rem;
  }
  .section.read-container, .section.form-section {
    width: 90%;
    margin: auto;
  }
  h3.sub-heading {
    font-size: 2.5rem;
  }
  button.button, div.select {
    font-size: 1.5rem;
  }
  .select option {
    font-size: 1rem;
  }
  p.label {
    font-size: 2rem;
  }
  .label-box {
    width: 140px;
  }

  div.buttons button.button {
    font-size: 2rem;
  }

  input.input {
    padding: 20px;
    font-size: 2rem;
  }


}